<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autos</title>
    <link rel="stylesheet" href="css/autos-style.css">
</head>
<body>
    
    <div class="autos-container">
        <img src="imagenes/auto1.jpeg" alt="auto1">
        <img src="imagenes/auto2.jpeg" alt="auto1">
        <img src="imagenes/auto3.jpeg" alt="auto1">
        <img src="imagenes/auto4.jpeg" alt="auto1">
        <img src="imagenes/auto5.jpeg" alt="auto1">
    </div>

</body>
</html>