<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gatos</title>
    <link rel="stylesheet" href="css/gatos-style.css">
</head>
<body>
    
    <div class="gatos-container">
        <img src="imagenes/gato1.jpeg" alt="gato1">
        <img src="imagenes/gato2.jpeg" alt="gato1">
        <img src="imagenes/gato3.jpeg" alt="gato1">
        <img src="imagenes/gato4.jpeg" alt="gato1">
        <img src="imagenes/gato5.jpeg" alt="gato1">
    </div>

</body>
</html>